:root {

	/* Header */
	--header-height: 60px;
	--header-link-margin: 15px;
	--header-font-size: 20px;
	--header-font-color: #bfffff;
	--header-background-color: #24292e;

	/* Bio Block */
	--bio-height: 600px;
	--bio-background-color: #ccc7c7;
	--bio-font-color: #292929;
	--bio-section-margin: 20px; /*Note that the actual margin is twice this*/
	--bio-info-block-width: min(950px, 95vw);
	--bio-info-block-height: 500px;

  /* Link Block */
  --link-block-width: min(950px, 95vw);

}

/* Fonts */

@font-face {
  font-family: "Raleway";
  src: url("fonts/raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("fonts/lato/Lato-Regular.ttf");
}

/* Basic HTML */

html, body {
	width: 100%;
	margin: 0px;
}

a {
	text-decoration: none;
	outline: 0;
}

img {
	outline: 0;
	border: 0;
}

/* Header */

#header {
	background-color: var(--header-background-color);
	display: block;
	height: var(--header-height);
	width: 100%;
}

#headerLinkContainer {
	display: flex;
	justify-content: center;
	height: var(--header-height);
	margin: auto;
}

.headerLink {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
	font-size: var(--header-font-size);
	line-height: var(--header-height);
	display: inline;
	color: var(--header-font-color);
	margin: 0px var(--header-link-margin) 0px var(--header-link-margin);
}

.headerLink:hover {
	opacity: 0.8;
}

/* New Header */

/* #header2 {
	background-color: #022756;
	display: block;
	height: 350px;
	height: 100%;
	width: 100%;
  position: absolute;
  z-index: -1;
} */

#header-background {
	display: block;
	width: 100%;
	height: 100%;
	/* margin: auto; */
  position: absolute;
  z-index: -1;
}

/* Bio Block */

#bio {

	display: flex;
	justify-content: center;
	align-items: center;
  flex-wrap: wrap;

	width: 100%;
	/* height: var(--bio-height); */
	/* background-color: var(--bio-background-color); */
  padding: 50px 0px 50px 0px;

  position: relative;

}

#bioInfoBlock {

	display: flex;

	width: var(--bio-info-block-width);
	/* height: var(--bio-info-block-height); */
	/*background-color: #cccccc;*/

}

#bioProfile {

	display: flex;
	flex-direction: column;
	align-items: center;
  align-content: center;
	justify-content: center;

	/* height: 100%; */
	/* flex-grow: 1; */
	margin: 0px var(--bio-section-margin) 0px 0px;
	/*background-color: #cccccc;*/
	/* flex-basis: 0; */

}

#bioProfileImage {
	width: 225px;
	height: 225px;
  margin: 20px;
}

.bioProfileText {
	margin: 0px;
	padding: 5px 0px 5px 0px;
	font-size: 18px;
	color: var(--bio-font-color);
}

#bioDescription {

	/* height: 100%; */
	/* flex-grow: 2; */
	margin: 0px 0px 0px var(--bio-section-margin);
	/*background-color: #cccccc;*/
	/* flex-basis: 0; */
  font-family: "Lato", sans-serif;

}

#bioDescriptionHeading {
	margin: 0px;
	padding: 10px;
	color: var(--bio-font-color);
  font-family: "Raleway", sans-serif;
	font-weight: bold;
	/* font-size: 16px; */
}

#bioDescriptionRule {
	/*padding: 10px;*/
	color: var(--bio-font-color)
}

#bioDescriptionParagraph {
	margin: 0px;
	padding: 10px;
	font-size: 18px;
	color: var(--bio-font-color);
	line-height: 22px;
}




.bioProfileItem {
  
  width: 350px;
  /* height: 40px; */
  background-color: rgb(225, 224, 224);
  border-radius: 10px;
  margin: 5px 0px;

  display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;

}

.bioProfileItemImage {
  flex-grow: 0;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 10px;
}

.bioProfileItemDivider {
  flex-grow: 0;
  flex-shrink: 0;
  width: 2px;
  height: 28px;
  background-color: #3f3f3f;
  border-radius: 1px;
}

.bioProfileItemText {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 10px;
  margin: 5px 10px 5px 5px;
}

/* Link Block */

#linkBlock {
	width: var(--link-block-width);
	margin: auto;
}

.linkListHeading {
	font-family: "Raleway", sans-serif;
  color: #3c78d8;
	font-weight: bold;
	font-size: 28px;
  padding-bottom: 5px;
  margin-top: 50px;
  border-bottom-style: solid;
}

.linkItem {
	display: flex;
	width: 100%;
	/* height: 170px; */
	box-shadow: 0 3px 10px 0 rgba(115,143,147,.9);
	margin: 25px 0px 25px 0px;
}

a:hover .linkItem .linkInfo .linkItemHeading {
	color: #1ba94c;
}

.linkInfo {
	flex-grow: 5;
	flex-basis: 0;
}

.linkImage {
	flex-grow: 2;
	flex-shrink: 2;
	background-color: #dddddd;
	flex-basis: 10px;
	width: 0px;
	/* height: 0%; */
	background-size: cover;
	background-position: center;
	/*border-left: 2px solid black;*/
}

.linkItemHeading {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 28px;
	color: #0e141e;
	margin: 20px 17px 17px 17px;
}

.linkItemParagraph {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #425356;
	margin: 17px 17px 20px 17px;
}